<md-content layout-padding>
	<md-input-container>
		<label><md-icon>search</md-icon></label>
		<input type="text" ng-model="search.email" />
	</md-input-container>
	<md-data-table-container>
		<table md-data-table>
			<thead>
				<tr>
					<th name="Email"></th>
					<th name="Password"></th>
					<th name="Card"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="student in students | filter:search">
					<td>{{student.email}}</td>
					<td><change-password student="student"></change-password></td>
					<td><md-button ng-click="findCard(student)">Find Card</md-button></td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
</md-content>