<md-content layout-padding class="md-body-1 container">
	<h1 class="md-display-1">Information</h1>

	<h2 class="md-headline">When &amp; Where?</h2>
	<p><strong>Lectures</strong> &mdash; Mondays 4.30pm, E003<p>
	<p><strong>Lab</strong> &mdash; Tuesdays 10am - 6pm, J206<p>

	<h2 class="md-headline">What do I need to do?</h2>
	<p><strong>Attend every Lecture.</strong> Every Monday, I&rsquo;ll be setting you a task, which must be completed by the following Monday. Your tasks will be marked every week. You can find detailed breifs on the <a ui-sref="home.tasks">tasks page</a>, slides from the lectures to review, as well as feedback every week on your progress.</p>

	<h2 class="md-headline">The Lab</h2>
	<p>The Lab is open every Tuesday in J206, all day long (10am - 6pm). This is where you can come to seek help with the set tasks, if your either struggling, or you find them too easy and wish to push yourself further. This is entry level programming, but we have a depth of knowledge in the Lab that goes much deeper. In addition to web based projects, we explore app development, game programming, virtual reality, and physical computing. We have plenty of equipment to tinker with, and you&rsquo;re always welcome to come in and explore.</p>

	<h2 class="md-headline">Who?</h2>
	<p>Si&ocirc;n Fletcher, and guests!</p>

	<h2 class="md-headline">Help!</h2>
	<p>For any issues relating to IDM, try your best to come see me in the Lab on Tuesdays. Otherwise, contact me at <a href="mailto:s.fletcher@arts.ac.uk">s.fletcher@arts.ac.uk</a>. The deadline for the tasks will always be the following Monday, but please don&rsquo;t leave it until Sunday evening.. I know you will anyway, but.. please. I do my best to ignore emails on Sunday to go feed the ducks in Finsbury Park. They get pretty snappy when they&rsquo;re hungry, and nobody wants that.</p>

	<h2 class="md-headline">Feedback and Attendance</h2>
	<p>You must attend every lecture, and the Lab is optional. Your attendance will be recorded on Mondays using your ID card. If you can&rsquo;t attend due to illness, take a moment to <a href="mailto:s.fletcher@arts.ac.uk">send me an email</a> and let me know beforehand, it&rsquo;s necessary for your evaluation, and is appreciated as well.</p>
	<p>You will receive a score every week on your task, and possibly some comment on your work. The most interesting examples will be shown at the beggining of the following lecture. At the end of the term, your scores will be added up into your grade for this term.</p>
	<p>If you didn&rsquo;t get the score you wanted, you can resubmit work and I will mark it again. Your highest score will count towards your grade.</p>
</md-content>