<md-content layout-padding class="container md-body-1">
	<h1 class="md-display-1">Useful Links</h1>

	<p class="md-body-2">I&rsquo;ll add to these throughout the term</p>

	<h2 class="md-headline">Tools</h2>
	<ul>
		<li><a href="http://jsbin.com/">JS Bin</a> - Great place to sketch projects, you can use this for your tasks</li>
		<li><a href="http://www.sublimetext.com/">Sublime Text</a> - My text editor of choice if you&rsquo;d rather work offline</li>
		<li><a href="https://www.google.com/chrome/">Google Chrome</a> - My browser of choice for development, has the best tools in my opinion. If you&rsquo;re using it right now, Click on <strong>View &rarr; Developer &rarr; Developer Tools</strong> to see what I mean.</li>
	</ul>

	<h2 class="md-headline">References and Help</h2>
	<p><strong><a href="http://www.w3schools.com/">W3 Schools</a></strong> - the go to reference for all things web development. You can find <a href="http://www.w3schools.com/tags/tag_video.asp">detailed explainations</a> of the code you will be using throughout this course, and very useful examples of how they work. I&rsquo;d say when working on web projects, I use this site every other day &mdash; but if you&rsquo;re starting out, it should be the first thing you open up before you get to work.</p>

	<p><strong><a href="http://stackoverflow.com">Stack Overflow</a></strong> - an incredible resource. It&rsquo;s a question and answer forum for programmers, where some charitable and extremely talented programmers spend hours of their time, freely answering people&rsquo;s questions for kudos. I use this website constantly when I program my own apps and games (and I mean hundreds of visits a day). Even so, I&rsquo;ve only ever had to post two questions on there, as someone invarialbly posed the same question before me. <a href="http://stackoverflow.com/questions/25342718/local-interpolation-of-surfaces-using-normal-vectors">Here&rsquo;s one of my questions</a> if you want an example of the caliber of feedbck you can get. If you do want to ask a question, make absolutely sure it <strong>has not been answered</strong> before, so you can keep your own kudos high!</p>

	<h2 class="md-headline">Further Learning</h2>
	<p><a href="https://www.khanacademy.org/">Khan Academy</a> is a site where you can take a course in many subjects, ranging from Micro Economics to the Arts and Humanities. For us, they have an excellent course on computer programming which will give you a great grounding if you really want to get into this stuff.</p>

	<p><a href="https://www.codeschool.com/free">Code School</a> - similarly to Khan Academy, you can take online courses here, although some are paid, the introductions are free, and well worth a look</p>

	<p><a href="https://www.apress.com/programming">Apress Books</a> - if you can&rsquo;t find what you need in the library, I&rsquo;ve personally found the Apress books a good start when I want to learn a new language. It might seem silly to buy programming books, with the languages developing so quickly, and the resources available online; however, a book is the best place to start. When you start learning, it&rsquo;s difficult to even know what to search for online. You will invarably land on a page that is out of your depth, and stumble accross people arguing on what solution is best, for problems you can&rsquo;t even understand yet.</p>

	<p>Reading textbooks first is a wise move. It takes the frustration and confusion out of learning, and a good author will never discuss a problem that contains parts which haven&rsquo;t been covered previously. They also make great bedtime reading, as you&rsquo;ll be out in minutes.</p>

	<h2 class="md-headline">Inspiration</h2>
	<ul>
		<li><a href="https://www.chromeexperiments.com/">Chrome Experiments</a></li>
		<li><a href="http://threejs.org/">Three JS</a></li>
		<li><a href="http://madewith.unity.com/">Made with Unity</a></li>
		<li><a href="https://processing.org/exhibition/">Processing Exhibition</a></li>
	</ul>


</md-content>